@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
.Body {
  padding-left: 315px;
  padding-top: 25px;
  font-size: 35px;
  text-align: center;
  font-family: 'Josefin Sans', cursive;
}
.DeleteButton {
  padding-left: 175px;
  
}

h5{
  font-family: 'Josefin Sans', cursive;
}